@import "../base/_variables.scss";

.session-length-chart {
	flex: 1;
	background: var(--color-primary);
	border-radius: 5px;
	position: relative;

	&--tooltip {
		display: flex;
		align-items: center;
		padding: 10px;
		background-color: #ffffff;
		font-weight: $font-weight-regular;
		font-size: 0.7rem;
	}
}
