@import "../base/_variables.scss";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-primary;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.primary-color {
	color: var(--color-primary);
}

.chart-title {
	color: var(--grey-dark);
	font-size: 0.9375rem;
	font-weight: $font-weight-regular;
	position: absolute;
	top: 24px;
	left: 30px;
}
