// COLOR VARIABLES

$color-primary: #ff0101;
$grey-bkgd: #fbfbfb;
$grey-light: #9b9eac;
$grey-medium-2: #74798c;
$grey-dark: #282d30;
$black-bkgd: #020203;

// FONT VARIABLES

$font-primary: "Roboto", sans-serif;
$font-body-size: 1rem;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;

// SHADOW VARIABLES

$shadow-nav: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-block: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
